@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@media (min-width: 640px) {
  .first-section {
    background: url(assets/designers.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
}

@media (min-width: 1024px) {
  .first-section {
    background-size: 60%;
  }
}
